/* IMPORTACIÓN DE FUENTES (Google Fonts)*/
@import 
url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
;
/* RESET BÁSICO (Primeros estilos) */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* ESTILOS GENERALES (Selector de etiqueta)*/
body {
font-family:'Rajdhani', sans-serif;
background-image: url(https://s3.pixers.pics/pixers/700/FO/52/13/38/30/700_FO52133830_73177404cdae5b3cc6bf0f5e43ef712c.jpg);
background-size: cover;
background-position: center;
color:  black;
line-height: 1.6;
}

/* =========================
HEADER Y NAVEGACIÓN
========================= */
header {
background-color: linear-gradient(#7a0000, #000)
color: #fff;
padding: 10px;
position: sticky; /* Posicionamiento sticky */
top: 0;
z-index: 1000; /*Este elemento estará muy por encima de cualquier otro*/
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly; 
border bottom: 2px solid gold;
}

.titulo {
font-family: 'Orbitron', sans-serif; /* Fuente tipo máquina de escribir */
letter-spacing: 4px;
text-align: center;
margin-bottom: 10px;
font-size: 1.5rem;
color: gold;
text-shadow: 0 0 10px red;

}
/* Flexbox para menú */
.menu {
display: flex;
justify-content: center;
list-style: none;
gap: 20px;
font-size: 0.9rem;
}

.link {
text-decoration: none;
color: #fff;
padding: 8px 15px;
border-radius: 5px;
transition: 0.3s;
}
.link:hover {
background-color:  gold;
color: black;
box-shadow: 0 0 10px gold;

}

/*MAIN Y SECCIONES */
main {
width: 85%;
max-width: 1200px;
margin: auto; /*mismo margen a la izquierda y derecha*/
}
section {
margin: 40px 0; /*Separar cada sección*/
padding: 20px;
background-color: #ffffffd5;
border-radius: 10px;
box-shadow: 0 0 15px rgba(255,0,0,0.3);
}
/* ID selector */
#s1, #s2, #s3, #s4, #s5 {
color: white;
margin-bottom: 15px;
color: gold;
text-align: center;
font-family: 'Orbitron', sans-serif;
text-shadow: 0 0 8px red;
}

.imgpeq {
border: solid gold 5px;
margin: 35px 0;
float: right; /*que el texto envuelva la imagen*/
box-shadow: 0 0 15px red;
}
/* =========================
LISTAS
========================= */
ul, ol {
margin-left: 20px;
}
li {
}
margin-bottom: 8px;

/* =========================
TABLA (Box model)
========================= */
.ficha table {
width: 100%;
border-collapse: collapse;
}
.ficha th, .ficha td {
border: 1px solid gold;
padding: 10px;
}
.ficha th {
background-color:  #7a0000;
color: gold;
}

/* =========================
FORMULARIO
========================= */
.centrado{
text-align: center;
}
form {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 50%;
}
input {
padding: 8px;
width: 100%;
max-width: 400px;
border: 1px solid gold;
border-radius: 5px;
background-color: #111;
color: white;
}

/* Botón */
input[type="submit"] {
background-color:  linear-gradient(45deg, red, gold);
color: white;
border: none;
cursor: pointer;
margin-top: 10px;
font-weight: bold;
}
input[type="submit"]:hover {
background-color:  rgb(151, 0, 0);
}

/* GALERÍA (Grid + Flexbox alternativo) */
.galeria {
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
}
.contenedor-galeria{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 10px;
align-content: center;
justify-content: center
}

.galeria img {
width: 30%;
height: 300px;
object-fit: cover; /* overflow control */
border-radius: 10px;
transition: transform 0.3s;
border: 2px solidgold;
}
.galeria img:hover {
transform: scale(1.1);
box-shadow: 0 0 20px red;
}

/* =========================
FOOTER
========================= */
footer {
text-align: center;
padding: 20px;
background-color: linear-gradiente(90deg, black, #7a0000);
color: gold;
margin-top: 40px;
}


